# .env file - JANGAN di-commit!
.env
.env.local
.env.*.local

# Go
*.exe
*.exe~
*.dll
*.so
*.so.*
*.dylib
*.test
*.out

# IDE
.vscode/
.idea/
*.swp
*.swo
*~

# OS
.DS_Store
Thumbs.db

# Dependency management
vendor/

# Air (Live reload)
.air.toml
